.show-task-1{
#background-color: green;
}
.show-task-2{
#background-color: yellow;
}
.show-task-3{
#background-color: red;
}
.edit,
.delete
{
	display:none;
	float:right;
	margin-top:-15px;
	z-index:2000;
}
.span4:hover{
	button{
		display:block;
	}
}